.baner {
  margin: 0 auto;
  display: block;
  padding-left: 50px;
  margin-bottom: 297px;
  &__title {
    @include text($H60, 900, $BLACK);
    margin-bottom: 14px;
    letter-spacing: 2px;
  }
  &__text {
    @include text($H17, 300, $BLACK);
    margin-bottom: 30px;
    max-width: 400px;
    letter-spacing: 0.5px;
    line-height: 1.45;
  }
  &__btn {
    background-color: $ORANGE;
    display: block;
    width: 200px;
  }
}

@media screen and (max-width: 430px) {
  .baner__title {
    font-size: $H50;
  }

}

@media screen and (max-width: 400px) {
  .baner {
    margin-bottom: 210px;
  }
}
@media screen and (max-width: 430px) {
  .baner__title {
    font-size: $H40;
    margin-bottom: 30px;
  }
  .baner__text {
    font-size: $H16;
    margin-bottom: 30px;
  }
}
