.blog {
  padding: 85px 16px 120px 16px;
  display: block;
  background: $BG-BLOG-COLOR;
  &__title {
    margin-bottom: 26px;
    text-align: center;
    @include text($H90, 700, $WHITE);
    @media screen and (max-width: 498px) {
      text-align: left;
    }
  }
  &__desccription {
    max-width: 570px;
    text-align: center;
    padding-bottom: 35px;
    @include text($H17, 300, $WHITE);
    line-height: 1.6;
    margin: 0 auto;
    @media screen and (max-width: 498px) {
      text-align: left;
    }
  }
}
