.contact__info {
  &-address, &-email {
    margin-bottom: 12px;
  }
  &-address, &-email, &-phone {
    &--name {
      @include text($H20, 700, $BLACK);
      opacity: 0.7;
      text-transform: uppercase;
      @media screen and (max-width: 1025px) {
        color: $WHITE;
      }
    }
    &--text {
      @include text($H20, 300, $BLACK);
      opacity: 0.7;
      @media screen and (max-width: 1025px) {
        color: $WHITE;
      }
    }
    &--link, &--num {
      cursor: pointer;
      text-decoration: none;
      @include text($H20, 300, $BLACK);
      opacity: 0.7;
      @media screen and (max-width: 1025px) {
        color: $WHITE;
      }
    }
  }
}