.footer {
  background-color: $BLACK;
  
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // padding: 13px 185px 21px 237px;
  &__container {
    padding: 13px 8px 21px 15px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
max-width: 1215px;
@media screen and (max-width: 700px) {
  flex-direction: column-reverse;
}
  }
  &__copyright {
    @include text($H16, 400, $WHITE);
    opacity: 0.5;
  }
  &__logo {
    font-family: $logo-font;
    @include text($H25, 400, $WHITE);
    opacity: 0.5;
  }
  &__text {
    @include text($H15, 400, $WHITE);
    opacity: 0.5;
  }
  &__text-word {
    @include text($H15, 700, $FOOTER-SPAN-COLOR);
  }
}