.grid {
  max-width: 1200px;
  margin: 0 auto 45px;
  width: 100%;
}
.grig__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  @media screen and (max-width: 1211px) {
    display: block;
  }
  &-large {
    margin-bottom: 20px;
    @media screen and (max-width: 1211px) {
      margin-bottom: 0;
    }
  }
}

.image-wrapper {
  @media screen and (max-width: 1211px) {
    margin: auto;
  }
  &--img {
    margin-bottom: 17px;
    @media screen and (max-width: 1211px) {
      margin-bottom: 0;
    }
  }
}
.grid__row-img {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  @media screen and (max-width: 1211px) {
    margin-bottom: 15px;
    width: 100%;
  }
}
