.services-list {
  @include flex(flex-start, flex-start, column, wrap);
  margin-right: 24px;
  @media screen and (max-width: 355px) {
          margin: 0;
  }
  &__item:not(:last-of-type) {
      margin-bottom: 20px;
  }
}