.servises-baner {
  @media screen and (max-width: 1000px) {
    margin-top: 52px;
  }
  @media screen and (max-width: 456px) {
    margin-top: 0px;
    position: relative;
    top: 37px;
  }
  &__title {
    position: relative;
    @include text($H90, 700, $WHITE);
    margin: 0 auto;
    text-align: center;
    top: 182px;
    left: 40px;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    @media screen and (max-width: 1125px) {
      font-size: $H70;
      
      top: 123px;
      left: 30px;
      width: 100%;
    }
    @media screen and (max-width: 1000px) {
      font-size: $H50;
      top: 65px;
    left: -7px;
    width: 70%;
    }
    @media screen and (max-width: 460px) {
      // font-size: $H30;
      top: 10px;
    left: 17px;
    width: 63%
    }
    @media screen and (max-width: 370px) {
      // font-size: $H30;
      top: -34px;
    left: -8px;
    width: 63%
    }
  }
  &__img {
    position: relative;
    bottom: 119px;
    left: 119px;
    @media screen and (max-width: 1125px) {
      width: 65%;
    }
    @media screen and (max-width: 1000px) {
      width: 55%;
    }
    @media screen and (max-width: 450px) {
      bottom: 163px;
      left: 100px;
    }

    @media screen and (max-width: 370px) {
      left: 85px;
      bottom: 182px;
      bottom: 172px;
    }
  }
}
