.servises {
  background-color: $SERVISES-BG-COLOR;
  min-height: 800px;
  &__container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 93px 15px 37px;
    @include flex(center, center, row, wrap);
    @media screen and (max-width: 1200px) {
      @include flex(center, center, column-reverse, wrap);
    }
    @media screen and (max-width: 930px) {
      flex-direction: column-reverse;
    }
  }
}
