.servises-baner {
  position: relative;
  top: 44px;
  left: 64px;
  @media screen and (max-width: 1200px) {
    left: -40px;
  }

  &__title {
    position: relative;
    @include text($H90, 700, $WHITE);
    margin: 0 auto;
    text-align: center;
    top: 182px;
    left: 40px;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    @media screen and (max-width: 1125px) {
      font-size: $H70;
      top: 123px;
      left: 30px;
      width: 100%;
    }
    @media screen and (max-width: 1000px) {
      font-size: $H50;
      top: 65px;
      left: 39px;
    }
    @media screen and (max-width: 460px) {
      font-size: $H45;
      top: 58px;
      left: 45px;
    }
    @media screen and (max-width: 370px) {
      font-size: $H30;
      top: 6px;
      left: 36px;
    }
  }
  &__img {
    position: relative;
    bottom: 119px;
    left: 119px;
    @media screen and (max-width: 1125px) {
      width: 65%;
    }
    @media screen and (max-width: 370px) {
      width: 55%;
    }
  }
}
