//colors
$BLACK: #000;
$WHITE: #fff;
$ORANGE: #ff6033;
$SERVISES-BG-COLOR:  #70bfff;
$GREY: #9d9d9d;
$GRADIENT: radial-gradient(rgb(0,196,196) 0%, rgb(0,183,183) 32%, rgb(0,173,173) 68%, rgb(0,156,156) 100%);



//fonts

$base-font:'Raleway', sans-serif;
$logo-font:'Pacifico', cursive;

//font-sizes 
$base-font-size: 16px;

@function calcRem($size) {
  $remSize: $size / $base-font-size;
  @return #{$remSize}rem;
}
$H90: calcRem(90px);
$H70: calcRem(70px);
$H60: calcRem(60px);
$H50: calcRem(50px);
$H40: calcRem(40px);
$H20: calcRem(20px);
$H17: calcRem(17px);
$H16: calcRem(16px);
$H15: calcRem(15px);